html
{
    padding: 0;
    margin: 0;
}

body
{
    padding: 5px;
}

#filter
{
    top:0;
    width:100%;
    display: inline-block;
    padding-bottom: 10px;
}

#spell_window
{
    width: 100%;
    left: 25%;
    padding-right: 10px;
}

.pane {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
}

div[name=value_search] {
	display: none;
}

div.invisible_block {
	display: none;
}

div.visible_block {
	display: block
}
