<!DOCTYPE html>

<html>
<head>

    <title>Joey's Spell Filter v.a.0.1</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>

    <form name="inquiry" method="POST">

    <!-- SPELL FILTER DIV -->
    <div id="filter" class="input">

        <!-- Search settings --> 
        <div name="settings">
            <div name="reset" class="toggle">
                <b>Append to previous search?</b>
                    <input type="checkbox" name="append" value="true">
            </div>

			<div class="toggle"><b class="center_title">Search Method?</b></div>
            <div name="method" class="toggle btn-group" data-toggle="buttons">
				<label class="btn btn-primary">
                    <input type="radio" id="radio_name" name="search_method" value="name" checked></input>
					 By name:
				</label>
				<label class="btn btn-primary">
                    <input type="radio" id="radio_value" name="search_method" value="value"></input>
					By value:
				</label>
            </div>
        </div>
            
        <!-- Search by name -->
        <div name="name_search" class="pane visible_block">
            <h2>Search by names (seperate by commas):</h2>
                <input type="search" name="name" value="">
                <input type="submit" class="btn btn-primary">
        </div>
            
        <div name="value_search" class="pane invisible_block" >
            <h2>Search by value:</h2>

            <!-- School -->
            <div class="pane">
                Schools<br>
                <select name="school">
                    <option value="None">Any</option>
                    <option value="0">Abjuration</option>
                    <option value="1">Conjuration</option>
                    <option value="2">Divination</option>
                    <option value="3">Enchantment</option>
                    <option value="4">Evocation</option>
                    <option value="5">Illusion</option>
                    <option value="6">Necromancy</option>
                    <option value="7">Transmuation</option>
                </select>
            </div>

            <!-- Sources -->
            <div class="pane">
                Sources<br>
                <input type="checkbox" name="source" value="0">
                Player's Handbook<br>
                <input type="checkbox" name="source" value="1">
                Elemental Evil<br>
                <input type="checkbox" name="source" value="2" >
                Sword Coast Adventurer's Guide<br>
                <input type="checkbox" name="source" value="3" >
                The Rise of Tiamat<br>
                <input type="checkbox" name="source" value="4">
                Unearthed Arcana<br>
            </div>

            <!-- Classes -->
            <div class="pane">
                Classes<br>
                <div class="pane">
                    <input type="checkbox" name="classes" value="None" checked>
                    <b>Any</b><br>
                    <input type="checkbox" name="classes" value="0">
                    Barbarian<br>
                    <input type="checkbox" name="classes" value="1">
                    Bard<br>
                    <input type="checkbox" name="classes" value="2">
                    Cleric<br>
                    <input type="checkbox" name="classes" value="3">
                    Druid<br>
                    <input type="checkbox" name="classes" value="4">
                    Fighter<br>
                    <input type="checkbox" name="classes" value="5">
                    Monk
                </div>

                <div class="pane">
                    <input type="checkbox" name="classes" value="6">
                    Paladin<br>
                    <input type="checkbox" name="classes" value="7">
                    Ranger<br>
                    <input type="checkbox" name="classes" value="8">
                    Rogue<br>
                    <input type="checkbox" name="classes" value="9">
                    Sorcerer<br>
                    <input type="checkbox" name="classes" value="10">
                    Warlock<br>
                    <input type="checkbox" name="classes" value="11">
                    Wizard<br>
                    <input type="checkbox" name="classes" value="12">
                    Ritual Caster<br>
                </div>
            </div>

            <!-- Components -->
            <div class="pane">
                Components<br>
                <select name="v">
                    <option value="None">Any</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                Verbal<br>

                <select name="s">
                    <option value="None">Any</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                Somatic<br>

                <select name="m">
                    <option value="None">Any</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                Material<br>

                <!-- Ritual -->
                <select name="is_ritual">
                    <option value="None">Any</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                Ritual Cast<br>
            </div>

            <!-- Level -->
            <div class="pane">
                Level Range<br>

                Min:
                <input type="number" name="level_min">
                <br>

                Max:
                <input type="number" name="level_max">
                <br>

                <!-- Duration -->
                <br>
                Duration<br>
                Min:
                <input type="number" name="duration_min">
                <br>

                Max:
                <input type="number" name="duration_max">
                <br>

            </div>
		<br>
        <input type="submit" class="btn btn-primary">
        </div>

    </div>
    </form>

    <!-- SPELL OUTPUT DIV-->
    <div id="spell_window" class="output"> 

        {% for spell in display %}
        <div id="{{ spell.name }}" name="{{ spell.id }}">
            {{ show(spell)|safe }}
        </div>
        <br>
        {% endfor %}

    </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../static/filter.js"></script>
</html>
